.custom-button {
    width: 8rem;
}

.custom-input {
    color: black;
    border: none;
    background: transparent;
}


table td {
    height: 100px;
  }

.password-table {
    border: solid black 1px;
}