{% extends 'base.html' %}

{% block content %}
{% load static %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1 class="text-secondary">Create Password Info</h1>
            {{error}}
            <div class="d-flex">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form}}
                    <div class="col-md-12 text-center">
                        <button class="btn btn-primary ms-5 w-25">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>
{% endblock %}