{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container py-5 text-center">
    <div class="row">
        <div class="col px-5 offset-3">
            <section class="card card-body " style="width: 35rem;">
                <h1 class="">Welcome to Password Vault!</h1>
                <img src="{% static 'logo.png' %}" alt="...">
                <p class="align-middle">You can share with us your secrets, we won't tell anyone <span class="display-6 align-middle pb-1">😉</span> </p>
                <div class="text-center">
                    <a class="btn btn-primary custom-button" href="/signin/">
                        Sign in
                    </a>
                    <a class="btn btn-primary custom-button" href="/signup/">
                        Sign up
                    </a>
                </div>
            </section>
        </div>
    </div>
</main>



{% endblock %}