{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col d-flex justify-content-center flex-column align-items-center">
                <h1>Passwords</h1>
                <button onclick="toggleAll()">Show all</button>

                <table class="table table-secondary table-striped table-hover table-bordered w-75">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">User/Email</th>
                            <th scope="col">Password</th>
                            <th scope="col">Notes</th>
                            <th scope="col">Type</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for password in user_passwords %}
                        <tr>
                            <td>{{password.name}}</td>
                            <td>{{password.address}}</td>
                            <td>{{password.user_or_email}}</td>
                            <td><input type="password" value="{{password.password}}" class="custom-input" disabled id="input{{password.id}}"></td>
                            <td>{{password.additional_notes}}</td>
                            <td>{{password.type_of_password}}</td>
                            <td>
                                <button id="button{{password.id}}" onclick="togglePassword('{{password.id}}')">Ver password</button>
                                <button>Editar</button>
                                <button>Borrar</button>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>




{% endblock %}