{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1 class="text-secondary">{{password.name}}</h1>
            {{error}}
            <div class="d-flex">
                <form method="POST">
                    {% csrf_token %}
                    {{form}}
                    <div class="col-md-12 text-center">
                        <button class="btn btn-primary custom-button">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</main>

{% endblock %}